@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
    margin: 0%;
}

a {
    text-decoration: none;
    color: black;
}

body {
    position: relative;
    min-height: 100vh;
}

.encab {
    display: block;
    width: auto;
    margin-bottom: 2px;
    padding: 8px;
    background-color: #9d8c6f;

}

#cont {
    padding: auto;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 5%;

}

h1 {
    font-size: 70px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa
}

h2 {
    margin-bottom: 20px;
    margin-left: 20px;
}

.res {
    color: black;
    background-color: gainsboro;
    width: 40%;
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 0.5em;
}

.despeje {
    color: black;
    background-color: gainsboro;
    width: 40%;
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 1em;
}

.despeje2 {
    color: black;
    background-color: gainsboro;
    width: 40%;
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 10px;
}

.proce {
    text-align: center;
}

.boton {
    padding: 5px;
    margin-left: 36%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: initial;
    border-color: #000000;
    cursor: pointer;
    background-color: #ffffff;
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}

#reg {
    margin-top: 30px;
    margin-left: 0;

}

.boton:hover {
    background-color: #9d8c6f;
    font-weight: 500;

}


.info1 {
    width: 50%;
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;

}

#formula {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.preg {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#mag {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.vueltas {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.intensidad {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.radio {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.imagrec {
    float: right;
    transition: all 300ms;
}

#im1 {
    width: 300px;
    height: auto;
    position: absolute;
    margin-left: 60%;
    transition: all 300ms;
    margin-right: 120px;
    margin-top: 0;
}

#im2 {
    width: 300px;
    height: auto;
    position: absolute;
    margin-left: 60%;
    margin-top: 18%;
    float: right;
    transition: all 300ms;
}

.imagrec:hover {
    transform: scale(1.15);
}

#imfor {
    margin-top: 25px;
    margin-right: 40%;
    margin-left: 15%;
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
    transition: all 300ms;
    position: relative;
}

#imfor:hover {
    transform: scale(1.50);
}

footer {
    margin-top: -1em;
    text-align: center;
    background-color: #212121;
    color: aliceblue;
    font-family: monospace;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
}

footer p {
    font-weight: bold;
    font-size: 1.4em;
}

footer h1 {
    font-weight: bold;
    font-size: 3em;
    font-family: "Fredericka the Great", cursive;
}

@media (max-width: 600px) {
    .imagrec {
        width: 300px;
    }

    .info1 {
        width: 80%;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    h1 {
        font-size: 70px;
        margin-left: -60px;
        margin-bottom: 30px;
    }

    .res {
        width: 90%;
    }

    .despeje {
        width: 90%;
    }

    .despeje2 {
        width: 90%;
    }

    #imfor {
        width: 130px;
        height: 100px;
    }
}